# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Models
*.pth
*.pt
*.ckpt
*.h5
*.keras
*.onnx

# Dataset
datasets/

# Logs
logs/
runs/

# Environment
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db